.sidebar {
  flex: 0.2;
  background-color: #ddddff;
  height: auto;
  padding-top: 30px;

  text-align: left;
}

.sidebar__avatar img {
  width: 80px;
  object-fit: contain;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.sidebar__avatar {
  display: flex;
  justify-content: center;
}
.sidebar__texts {
  margin-top: 40px;
}
.sidebar__texts a {
  display: block;
  padding: 10px;
  font-weight: 300;
  font-size: 15px;
  color: black;
  padding-left: 20px;
  text-decoration: none;
}
.sidebar__selected {
  background-color: #b9b9ff;
}
